.vscode/

# Frontend
node_modules/
dist/
dist-ssr/
*.log

# Django 
__pycache__
*.pyc
*.pyo
db.sqlite3
venv/
.env
staticfiles/
seed*
management/

# Extras
Extras/

.DS_Store
.codex
.sixth/
.bg-shell/
